.title div{
  width: 1006px;
    color: var(--brand-color);
    font-family: var(--Desktop-Greeting-font-family, Gotham);
    font-size: var(--Desktop-Greeting-font-size, 48px);
    font-style: normal;
    font-weight: 350;
    line-height:  54px;
    letter-spacing: 0.04px;
}