footer {
  background-color: var(--brand-color);
  font-size: var(--body-font-size-xs);
  color: white;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

.footer .social-links-container{
 display: flex;
  justify-content: center;
  align-items: center;
  }

.footer-wrapper .default-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}

/* Social links inside footer */
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-list a {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* space between text and icon */
  text-decoration: none;
  color: inherit;
  font-size: 1rem; /* adjust as needed */
}

.footer-social-list img {
  width: 24px;
  height: 24px;
  display: block;
}


@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

@media (max-width: 599px) {
  footer .footer > div {
    padding-inline: 20px;
  }

  .footer .social-links-container{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    }


  .footer-wrapper .default-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px
  }


  footer .footer p {
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 325;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .footer-wrapper .footer-social {
    margin-left: 0;
    margin-top: 12px;
  }
}